<header class="mt-2">
  <div class="container">
      <div class="row">

        <div class="col-12">
           <nav class="nav justify-content-center">
            <a class="nav-link active text-secondary" href="/welcome">HOME</a>
            <a class="nav-link text-secondary" href="/about">SOBRE GDI</a>
            <a class="nav-link text-secondary" href="/wall">WALL</a>
          </nav>    
        </div>
      </div>

  </div>
</header>

<main class="container mt-5 mb-5">
<section class="row justify-content-center">
    <article class="col-12 col-md-6">
      <header> 
        <h1 class="font-weigth-light"> GDI </h1> 
        <h2 class="text-muted"> Gestiona de una manera sencilla el inmovilizado de tu empresa</h2>
      </header>
      <main class="text-center mt-3">
        <p class="alert alert-primary">¡Empieza ahora!</p>  
      </main>
    </article>
</section>

  <section class="row justify-content-center mt-3 mb-5">
    <div class="col-12 col-md-6">
      <app-welcome-forms></app-welcome-forms>
    </div>
  </section>

</main>
<footer class="bg-primary p-2 text-light text-center mt-2 fixed-bottom" >
  <p class="mt-2">
    2019 By: Ángel Téllez
    </p>
    
</footer>