<h3>Alta de empleados de la empresa</h3>

<div class="row p-3">
    <div class="col-12">
        <app-errors></app-errors>
    </div>
</div>

<div id="register-form-message" class="row alert alert-primary m-auto" style="display: none;" >
  <div class="col-12 text-center">
      <h3 >El empleado se ha creado correctamente</h3> 
  </div>
    
</div>

<form [formGroup]="employeeForm" (ngSubmit)="pushEmployee()" id="register-form">
    <div class="row form-group">
        <div class="col-md-6">
            <label for="inputName">Nombre</label>
            <app-form-control [control]="employeeForm.get('firstName')">
                <input type="text" id="inputFirstName" class="form-control" placeholder="Nombre" formControlName="firstName"/>
            </app-form-control>
        </div>
        <div class="col-md-6">
            <label for="inputName">Apellidos</label>
            <app-form-control [control]="employeeForm.get('secondName')">
                <input type="text" id="inputSecondName" class="form-control" placeholder="Apellidos" formControlName="secondName"/>     
            </app-form-control>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-6">
            <label for="inputEmail">Email</label>
            <app-form-control [control]="employeeForm.get('email')">
                  <input type="email" id="inputEmail" class="form-control" placeholder="Email" formControlName="email"/> 
            </app-form-control>
        </div>
        <div class="col-md-6">
            <label for="inputPassword">Password</label>
            <app-form-control [control]="employeeForm.get('password')">
                <input type="password" class="form-control" id="inputPassword" placeholder="Password" formControlName="password" >
            </app-form-control>
        </div>
    </div>
    <div class="row form-group">
        <div class="col-md-6">
            <label for="inputPhone">Móvil</label>
            <app-form-control [control]="employeeForm.get('phone')">
                <input type="text" id="inputPhone" class="form-control" placeholder="Número de móvil" formControlName="phone"/>     
            </app-form-control>
        </div>
        <div class="col-md-6">
            <label for="selectRoll">Roll</label>
            <select  name="selectRoll" id="selectRoll" class="form-control" formControlName="roll">
                <option *ngFor="let roll of rolles" [value]="roll" >{{ roll }}</option>
            </select>
        </div>
    </div>
      
  <button class="btn btn-primary mt-2">Enviar</button>
</form>
