    <!-- <tr class="thead-dark" *ngIf="index===0">
      <th scope="col">ID</th>
      <th scope="col">Nombre</th>
      <th scope="col">Categoria</th>
      <th scope="col">Precio</th>
      <th scope="col">Fecha</th>
      <th scop="col">Asignado a</th>
    </tr> -->
    
      <th scope="row">{{index}}</th>
      <td>{{product.name}}</td>
      <td>{{product.category}}</td>
      <td>{{product.price | number }} €</td>
      <td>{{product.createdAt | userFriendlyDate }}</td>
      <td>
          <div class="form-group">
            {{product.idEmployee}}          
              <select ng-model="form.model" class="form-control" id="employeeSelect" (change)="onChange($event.target.value,product._id)">
                  <option value="">Sin asignar</option>
                  <!-- item._id == product.idemployee -->
                  <option value="{{ item._id}}" 
                  *ngFor="let item of (employees$ | async)" [selected]="item._id == product.idemployee">
                    {{ item.firstName }} {{ item.secondName }}
                  </option>
              </select>
          </div>
      </td>

