<div>
  <ul>
    <li [class.selected]="isRegisterFormVisible">
      <a appPreventDefault href="" (click)="toggleForm(true)">Register</a>
    </li>
    <li [class.selected]="!isRegisterFormVisible">
      <a appPreventDefault href="" (click)="toggleForm(false)">Login</a>
    </li>
  </ul>

  <div class="register-form" *ngIf="isRegisterFormVisible">
    <p>Register</p>
    <app-register></app-register>
    <!-- sn-register-form -->
  </div>
  <div class="login-form" *ngIf="!isRegisterFormVisible">
    <p>Login</p>
    <app-login></app-login> 
    <!-- sn-login-form -->
  </div>
</div>
