<div >
    
        
      
  <ul class="nav nav-tabs">
      
    <li class="nav-item" [class.selected]="isRegisterFormVisible">
      <a class="nav-link" appPreventDefault href="" (click)="toggleForm(false)">Register</a>
    </li>
    <li class="nav-item" [class.selected]="!isRegisterFormVisible">
      <a class="nav-link active" appPreventDefault href="" (click)="toggleForm(true)">Login</a>
    </li>
  </ul>

  <div class="register-form" *ngIf="!isRegisterFormVisible">
    <app-register></app-register>
    
  </div>
  <div class="login-form" *ngIf="isRegisterFormVisible">
    <app-login></app-login> 
    
  </div>
</div>