<ul class="nav navbar-nav row">
  
    <li class="nav-item mt-2 col-12">
          <a class="btn btn-outline-primary" href="/alta-bienes"> Alta de bienes </a>
    </li>
  
    <li class="nav-item mt-2 col-12">
            <a  class="btn btn-outline-primary" href="/alta-empleados">Alta de empleados </a>
    </li>
 
    <li class="nav-item mt-2 col-12">
            <a  class="btn btn-outline-info" href="/wall">Listar bienes </a>
    </li>
   
    <li class="nav-item mt-2 col-12">
        <a  class="btn btn-outline-info" href="/listar-empleados">Listar empleados </a>
    </li>
  
    <li class="nav-item mt-2 col-12">
        <a  class="btn btn-outline-dark" (click)="logoutUser()">Salir </a>
    </li>
 
</ul>