<nav class="nav flex-column">
  
  <div class="row mt-2">
      <div class="col-12">
          <a  class="btn btn-outline-primary" href="/alta-bienes">Alta de bienes </a>
    </div>  
  </div>
  
  <div class="row mt-1">
      <div class="col-12">
          <a  class="btn btn-outline-primary" href="/alta-empleados">Alta de empleados </a>
      </div>
  </div>
 
  <div class="row mt-2">
      <div class="col-12">
          <a  class="btn btn-outline-info" href="/wall">Listar bienes </a>
    </div>  
  </div>
  
  <div class="row mt-1">
      <div class="col-12">
          <a  class="btn btn-outline-info" href="/listar-empleados">Listar empleados </a>
      </div>
  </div>
 
  <div class="row mt-4">
      <div class="col-12">
          <a  class="btn btn-outline-dark" href="/welcome">Salir </a>
      </div>
  </div>
 
</nav>