<!-- <app-publisher></app-publisher> -->

<h4> Listado de bienes de la empresa
<app-publisher [user]="currentUser$ | async">
</app-publisher>
</h4>
   
<table class="table">
  <thead>
   <tr class="thead-dark">
    <th scope="col"></th>
    <th scope="col">Nombre</th>
    <th scope="col">Categoría</th>
    <th scope="col">Precio</th>
    <th scope="col">Amortización pendiente</th>
    <th scope="col">Fecha de alta</th>
    <th scope="col">Asignado a</th>
    <th scope="col">Eliminar</th>
  </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let item of (products$ | async); let i = index">
        <!-- <span style="display: none"> {{i+1}} </span> -->
      <tr app-product id="line{{item._id}}" [product]="item" [index]="i" class="clearfix"></tr>       
    </ng-container>
  </tbody>
</table>
<p *ngIf='(products$ | async)?.length === 0' >Por ahora no has dado de alta ningún bien de la empresa</p>



