<!-- <app-publisher></app-publisher> -->

<h4> Listado de bienes</h4>
<div class="table-responsive" *ngIf='(products$ | async)?.length != 0'>     

<table class="table">
  <thead>
   <tr class="thead-light">
    <th scope="col"></th>
    <th scope="col" class="text-center">Nombre</th>
    <th scope="col" class="text-center">Categoría</th>
    <th scope="col" class="text-right">Coste</th>
    <th scope="col" class="text-right">Amortización pendiente</th>
    <th scope="col" class="text-center">Estado</th>
    <th scope="col" class="text-center">Fecha de alta</th>
    <th scope="col" class="text-center">Asignado a</th>
    <th scope="col" class="text-center">Eliminar</th>
  </tr>
  </thead>
  <tbody>
    <ng-container *ngFor="let item of (products$ | async); let i = index">
      <tr app-product id="line{{item._id}}" [product]="item" [index]="i" class="clearfix"></tr>       
    </ng-container>
  </tbody>
</table>
</div>
<p *ngIf='(products$ | async)?.length === 0' >No hay bienes dados de alta</p>



