<h4> Listado de empleados </h4>
<div class="table-responsive" *ngIf='(employees$ | async)?.length != 0'>     
<table class="table">
    <thead>
    <tr class="thead-dark">
        <th scope="col"></th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">Email</th>
        <th scope="col">Móvil</th>
        <th scop="col">Roll</th>
        <th scop="col">Eliminar</th>
    </tr>
    </thead>
    <tbody>
    <ng-container *ngFor="let item of (employees$ | async); let i = index">
        <span style="display: none"> {{ i+1}} </span> 
         <tr app-employee id="line{{item._id}}" [employee]="item" [index]="i" ></tr>       
   </ng-container>
  </tbody>
   
</table>
</div>
<p *ngIf='(employees$ | async)?.length === 0'>No hay empleados dados de alta</p>