<header class="mt-2">
    <div class="container">
        <div class="row">
          <div class="col-12">
            <nav class="nav justify-content-center">
              <a class="nav-link active text-secondary" href="/welcome">HOME</a>
              <a class="nav-link text-secondary" href="/about">SOBRE GDI</a>
            </nav>
              
          </div>
        </div>
    </div>
  </header>
  
  <main class="container mt-5">
      
      <section class="row justify-content-center">
          <article class="col-12 col-md-8">
            <header> 
              <h1 class="font-weigth-light text-center"> SOBRE GDI </h1> 
              <h2 class="text-muted text-center"> Proyecto fin de bootcamp Hack a Bos</h2>
            </header>
            <main class=" mt-3">
              <p>
                Esta aplicación es el resultado de un proceso de formación intensivo en Hack a Bos por un periodo de 4 meses.
              </p>
              <p>
                GDI es un proyecto ambicioso que está en sus inicios. En la actual versión, el administrador de la empresa puede gestionar el inmovilizado de la empresa asignándolo a los empleados que lo utilizan.
              </p>
               <p>
                 En futuras actualizaciones podremos controlar los bienes de la empresa desde distintos perfiles de empleados. El responsable de compras, el técnico, el contable, el gestor de recursos humanos... todos ellos tendrá un papel importante en la incorporación, mantenimiento y baja de bienes y personal dentro de la aplicación GDI.
               </p>  
              <p>
                Está desarrollada por mi, Ángel Téllez, empleando Nodejs y MongoDb para el back-end y Angular y Bootstrap para el front-end.
              </p>
              <p>
                Si bien es mi primer proyecto con estas tecnologías, mi experiencia como desarrollador web es amplia, habiéndo trabajado, en el sector de la publicidad para importantes marcas (Amstel, Vivesoy, La Voz de Galicia, Larsa, Gadis...) y con numerosos lenguajes (PHP, ASP, HTML, Javascript, Actionsricpt,...). 
              </p>
              <p>
                Si te parece interesante, ¡contacta conmigo!
              </p>  
              <ul class="list-group list-group-horizontal">
                <li class="list-group-item">
                  <i class="fa fa-linkedin" aria-hidden="true"> <a href="https://www.linkedin.com/in/angeltellez/" target="_blank" title="Linkedin">Linkedin</a></i>
                </li>
                <li class="list-group-item">
                  <i class="fa fa-github" aria-hidden="true"><a href="https://github.com/angeltg" target="_blank" title="Github"> Github</a></i>
                  </li>
              </ul>
            </main>
          </article>
      </section>
      
        <section class="row justify-content-center">
          <div class="col-12 col-md-6">
          </div>
        </section>

  </main>
      