<!-- //Aquí ponemos todo lo que compone el dashboar -->

<header>
  <app-dashboard-header></app-dashboard-header>
</header>

<main class="container mb-5">
   
    
  <div class="row m-3">
    <section class="col-sm-12 col-md-3 border p-2 mt-2">
        <nav class="navbar navbar-expand-md navbar-light bg-light">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#CollapseNavbar" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
      </button>
          
      <div class="collapse navbar-collapse" id="CollapseNavbar">
            
          <app-dashboard-nav>
          
          </app-dashboard-nav> 
        </div>
      </nav>
          
    </section>
    <section class="colsm-12 col-md-9 mt-2 mb-5">
        <article>
            <main class="border p-2">
                 <router-outlet></router-outlet>
           </main>
        </article>
    </section>
  </div>  
</main>
 
<footer class="bg-primary p-2 text-light text-center mt-2 fixed-bottom" >
  <app-dashboard-footer ></app-dashboard-footer>
</footer>